.wrap-img {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -3;
}
// main
.main-content-site {
  &_index {
    background: linear-gradient(168.83deg, #050713 13.16%, rgba(5, 7, 19, 0) 65.63%), url("./img/bg-main-content.jpg");
    @include cover();
  }
  // background: red;
}
.bg-site {
  transition: 0.1s;
  top: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  object-fit: cover;

  &_who-we-are {
    @media (max-width: $tablet) {
      position: absolute;
      height: 540px;
    }
  }
  &_fee-structure {
    @media (max-width: $tablet) {
      position: absolute;
      height: 570px;
    }
  }
  &_what-we-do {
    @media (max-width: $tablet) {
      position: absolute;
      height: 570px;
    }
  }
  &_patenting-process {
    @media (max-width: $tablet) {
      position: absolute;
      height: 600px;
    }
  }
  &_contact {
    @media (max-width: $tablet) {
      position: absolute;
      height: 600px;
    }
  }
  &_blog {
    @media (max-width: $tablet) {
      position: absolute;
      height: 600px;
    }
  }
}

.bg-stars_index {
  z-index: -2;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  // left: 50%;
  // top: 40%;
  // width: 200%;
  // height: 250%;
  // width: 120%;
  // height: 230%;
  // transform: translate(-50%, -50%);
  // animation: rotBg 5s infinite linear;
  @media (max-width: $tablet) {
    display: none;
  }
  &-mobile {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform: scale(2);
    top: 0;
    z-index: -2;
    display: none;
    @media (max-width: $tablet) {
      display: block;
    }
  }
}
.section-top {
  // index
  &_index {
    padding: 300px 0 130px;
    background: linear-gradient(180.07deg, rgba(5, 7, 19, 0) 60.47%, #050713 99.88%), url("./img/Gora.png");
    @include cover();
    background-position-y: 200px;
    @media (max-width: $tablet) {
      padding-top: 150px;
      background-position-x: -220px;
    }
  }
}
