//font-family
$Signika: "Signika";
$PlayfairDisplay: "Playfair Display";
//color
$white: #ffffff;
$white_pale: rgba(255, 255, 255, 0.8);
$white_muddy: rgba(255, 255, 255, 0.5);
$gold: #ffe195;
$black: #000000;
$black_gold: #0e1420;

//background
$bg_menu_mobile: rgba(1, 23, 45, 0.95);
