.header {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 60px 0;
  @media (max-width: $tablet) {
    padding: 18px 0;
  }
  &__block {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__burger {
    overflow: hidden;
    display: none;
    position: absolute;
    transform: translateY(-50%);
    right: 20px;
    top: 50%;
    z-index: 50;
    width: 30px;
    height: 24px;
    cursor: pointer;

    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column;
    }
    @media (max-width: $header-point) {
      right: 0px;
    }

    &-line {
      position: absolute;
      opacity: 1;
      transition: 0.3s;
      width: 30px;
      height: 2px;
      background: $gold;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2) {
        top: 9px;
      }
      &:nth-child(3) {
        top: 9px;
      }
      &:nth-child(4) {
        top: 20px;
      }
      /* стили для js при нажатии на hamburger*/
      &_active {
        &:nth-child(1) {
          opacity: 0;
          top: 0px;
        }
        &:nth-child(2) {
          top: 9px;
          transform: rotate(-45deg);
        }
        &:nth-child(3) {
          top: 9px;
          transform: rotate(45deg);
        }
        &:nth-child(4) {
          opacity: 0;
          top: 20px;
        }
      }
    }
  }
  &__nav {
    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__box-logo {
    border-radius: 50%;
    width: 80px;
    margin-right: 25px;
    @media (max-width: $header-point) {
      margin: 0px;
    }
  }
  &__logo {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    @include sprite-manual_2x(1, 1);
    @media (max-width: $header-point) {
      width: 47px;
      height: 47px;
      background-size: 384px 176px;
    }
  }
  &__link {
    margin-right: 18px;
    white-space: nowrap;
  }
  &__contacts {
    display: flex;
    align-items: center;
    @media (max-width: $big-desktop) {
      margin-bottom: -164px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
    @media (max-width: 1069px) {
      margin-bottom: -140px;
    }
    @media (max-width: $tablet) {
      margin: 0px;
    }
    @media (max-width: $header-point) {
      margin-left: -20px;
    }
  }
  &__wrap-btn {
    position: relative;
    top: 65px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    @media (max-width: $big-desktop) {
      top: 0;
    }
  }

  &__phone {
    @include text-style(16, 20);
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
    color: $gold;
    font-weight: 600;
    margin-left: 25px;
    letter-spacing: 1px;
    transition: $transition;
    @media (max-width: 1210px) {
      margin-left: 8px;
    }
    @media (max-width: $big-desktop) {
      margin-bottom: 10px;
      margin-left: 0;
    }
    @media (max-width: $header-point) {
      @include text-style(20, 26);
      margin-bottom: 0px;
      margin-left: 15px;
    }

    &:hover {
      color: $gold_muddy;
    }
  }
  &__button {
    color: $black;
    background: $gold;
    margin-left: 17px;
    transition: $transition;

    &:hover {
      color: $black;
      background: $gold_muddy;
      text-decoration: none;
    }
    @media (max-width: 1210px) {
      margin-left: 8px;
    }
    @media (max-width: $big-desktop) {
      margin-left: 0;
    }
    @media (max-width: $tablet) {
      width: 100%;
    }

    &_add_js {
      color: $gold;
      background: $black_gold;
      &:hover::before {
        background-position: -0px -173px;
      }
      &:hover {
        background: $gold;
        color: $black;
      }
      @media (max-width: $tablet) {
        display: none;
      }
    }

    &-desktop {
      margin-bottom: 10px;

      @media (max-width: $header-point) {
        display: none;
      }
    }

    &-mobile {
      display: none;
      margin-top: 15px;

      @media (max-width: $header-point) {
        display: block;

        &::before {
          left: 15%;
        }
      }
    }
  }
}

.header_fixed {
  position: fixed;
  transition: 0.2s;
  transition-timing-function: ease-out;
  z-index: 5;
  background: rgba(27, 49, 75, 0.9);
  padding: 15px 0;
  @media (max-width: $tablet) {
    display: none;
  }
  .header__box-logo {
    width: 50px;
    margin-right: 50px;
  }
  .header__logo {
    width: 50px;
    height: 35px;
    @include sprite-manual_2x(82, 1);
  }
  .header__button_add_js {
    display: none;
  }
  .header__contacts{
    margin: 0;
  }
}
