@mixin sprite-manual($x, $y) {
  background: url("./img/Sprite.png");
  background-repeat: no-repeat;
  background-position: (($x) * (-1px)) (($y) * (-1px));
}
@mixin sprite-manual_2x($x, $y) {
  background: url("./img/Sprite_2x.png");
  background-repeat: no-repeat;
  background-position: (($x) * (-1px)) (($y) * (-1px));
  background-size: 645px 297px;
}
@mixin text-style($font-size, $line-height) {
  font-size: $font-size + (px);
  line-height: $line-height + (px);

  &:hover {
    text-decoration: none;
  }
}
