.link {
  @include text-style(14, 17);
  font-family: $Signika;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  transition-property: color;
  transition-duration: $transition;
}
.phone {
  font-style: $Signika;
  letter-spacing: 1px;
  transition: 0.3s;
  text-transform: uppercase;
  font-style: normal;
  color: $gold;
  &:hover {
    text-decoration: none;
    color: $gold_muddy;
  }
}
.button {
  font-family: $Signika;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  user-select: none;
  font-weight: normal;
  &:hover {
    text-decoration: none;
  }
}
.button_wide {
  @include text-style(14, 17);
  display: block;
  letter-spacing: 1px;
  color: $white_muddy;
  font-weight: normal;
  width: 100%;
  background: #2d3a52;
  padding: 17px 0;
  transition: 0.3s;
  @media (max-width: $tablet) {
    color: $black;
    background: $gold;
  }
  &:hover {
    background: $gold;
    color: $black;
    @media (max-width: $tablet) {
      background: #2d3a52;
      color: $gold;
    }
  }
}
.button-arrow {
  @include text-style(14, 17);
  position: relative;
  padding: 6px 18px 6px 36px;
  letter-spacing: 0.1px;
  display: inline-block;

  &::before {
    @include sprite-manual_2x(1, 173);
    position: absolute;
    content: "";
    left: 12px;
    top: 9px;
    width: 15px;
    height: 10px;
  }
}
.button-arrow_black {
  @include text-style(14, 17);
  position: relative;
  padding: 6px 18px 6px 36px;
  letter-spacing: 0.1px;
  display: inline-block;

  &::before {
    @include sprite-manual_2x(1, 162);
    position: absolute;
    content: "";
    left: 12px;
    top: 9px;
    width: 15px;
    height: 10px;
  }
  
}
.link_nav {
  color: $white_pale;
  &:hover {
    color: $gold;
  }
}
.link_nav_active {
  color: $white_muddy;
}
.title_h1 {
  @include text-style(56, 52);
  margin: 0px;
  color: $white;
  font-style: normal;
  font-weight: bold;
  font-family: $PlayfairDisplay;
}
.title_h2 {
  @include text-style(32, 43);
  margin: 0px;
  color: $white;
  font-style: normal;
  font-weight: bold;
  font-family: $PlayfairDisplay;
  @media (max-width: $tablet) {
    @include text-style(26, 35);
  }
}
.text_s {
  @include text-style(16, 26);
  margin: 0px;
  font-family: $Signika;
  font-style: normal;
  font-weight: normal;
  color: $white_pale;
}
