.link {
  @include text-style(14, 17);
  font-family: $Signika;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  transition-property: color;
  transition-duration: $transition;
}
.phone {
  font-style: $Signika;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-style: normal;
}
.button {
  font-family: $Signika;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  user-select: none;
  font-weight: 600;
  &:hover {
    text-decoration: none;
  }
}
.button-arrow {
  @include text-style(14, 17);
  position: relative;
  padding: 6px 18px 6px 36px;
  letter-spacing: 0.1px;
  display: inline-block;

  &::before {
    @include sprite-manual_2x(1, 173);
    position: absolute;
    content: "";
    left: 12px;
    top: 9px;
    width: 15px;
    height: 10px;
  }
}
.link_nav {
  color: $white_pale;
  &:hover {
    color: $gold;
  }
}

.title_h1 {
  margin: 0px;
  color: $white;
  font-style: normal;
  font-weight: bold;
  font-family: $PlayfairDisplay;
}
.title_h2 {
  @include text-style(32, 43);
  margin: 0px;
  color: $white;
  font-style: normal;
  font-weight: bold;
  font-family: $PlayfairDisplay;
}
.text_s {
  margin: 0px;
  font-family: $Signika;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: $white_pale;
}
