.section-top_fee-structure {
  // position: relative;
  // background: url("./img/bg-fee-structure.png");
  // z-index: 3;
  padding: 190px 0 210px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (max-width: $tablet) {
    padding: 180px 0 120px;
  }
  .anchor {
    position: relative;
    top: 150px;
    margin: 0px auto 0 auto;
    @media (max-width: $tablet) {
      top: 80px;
    }
  }
} 

.bg-site_fee-structure {
  position: fixed;
  // background: url("./img/bg-fee-structure.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.price {
  &__block {
    padding-top: 90px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    @media (max-width: $desktop) {
      padding-top: 30px;
    }
    @media (max-width: $tablet) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__content {
    grid-column: 3/11;
    @media (max-width: $big-desktop) {
      grid-column: 2/12;
    }
    @media (max-width: $tablet) {
      grid-column: 1/5;
    }
  }
  &__title {
    padding-bottom: 35px;
    padding-top: 54px;
    @media (max-width: $tablet) {
      padding-top: 24px;
    }
  }
  &__text {
    padding-bottom: 20px;
    @include text-style(18, 29);
    margin: 0px;
    font-family: $Signika;
    font-style: normal;
    font-weight: normal;
    color: $white_pale;
    &_price {
      padding-bottom: 0px;
    }
    &_bold {
      font-weight: 600;
      padding-bottom: 0px;
    }
  }
  &__img-pic {
    width: 100%;
    margin: 40px 0 10px 0;
  }
}
