.section-top__bg-stars {
  position: fixed;
  // background: url("./img/bg-stars-actiove.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  // z-index: 0;
  width: 100%;
}

.section-top_index {
  // position: relative;
  // z-index: 3;
  // padding: 290px 0 0px;
  // background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 212, 255, 0) 40%),
  //   url("./img/bg-mountains.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position-y: 200px;
  // margin-bottom: -5px;
  // @media (max-width: $tablet) {
    // padding-top: 150px;
    // background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 30%, rgba(0, 212, 255, 0) 40%),
    // url("./img/bg-mountains.png");
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position-y: 200px;
  // }

  .we-win__title {
    @include text-style(64, 60);
    @media (max-width: $tablet) {
      @include text-style(36, 34);
    }
  }
  .slide-reviews{
    &__block{
      margin-bottom: -120px;
    }
  }
}
// .main-content-site {
  // position: relative;
  // z-index: 5;
  // background: #050713;
// }
.main-content-site__index {
  // background: linear-gradient(359.99deg, #040612 0.01%, rgba(0, 0, 0, 0) 38.17%),
  //   linear-gradient(188.86deg, #000000 8.78%, rgba(0, 0, 0, 0) 35.31%),
  //   linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  //   url("./img/bg-index-main.png") linear-gradient(229.87deg, #000000 11.13%, #004fad 79.61%);
  background-repeat: no-repeat;
  background-size: cover;
}

.section-top {
  margin-top: -10px;
  &__social-link {
    margin-right: 5px;
  }
  .social-links {
    margin-top: -25px;
    @media (max-width: $tablet) {
      display: none;
    }
  }
  &_anchor {
    margin: 195px auto 0 auto;
    @media (max-width: $tablet) {
      margin: 20px auto 0 auto;
    }
  }
}
