.section-top__bg-stars {
  position: fixed; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; 
  width: 100%;
}

.section-top_index { 
  .we-win__title {
    @include text-style(64, 60);
    @media (max-width: $tablet) {
      @include text-style(36, 34);
    }
  }
  .slide-reviews{
    &__block{
      margin-bottom: -120px;
    }
  }
}  

.section-top {
  margin-top: -10px;
  &__social-link {
    margin-right: 5px;
  }
  .social-links {
    margin-top: -25px;
    @media (max-width: $tablet) {
      display: none;
    }
  }
  &_anchor {
    margin: 195px auto 0 auto;
    @media (max-width: $tablet) {
      margin: 20px auto 0 auto;
    }
  }
}
