.section-top_who-we-do {
  // position: relative;
  // z-index: 3;
  padding: 190px 0 210px;
  @media (max-width: $tablet) {
    padding: 180px 0 120px;
  }
  .anchor {
    position: relative;
    top: 150px;
    margin: 0px auto 0 auto;
    @media (max-width: $tablet) {
      top: 80px;
    }
  }
}
 