.section-top_who-we-are {
  position: relative;
  background: url("./img/bg-who-we-are.png");
  z-index: 3;
  padding: 300px 0 200px;
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;


  .anchor{
    margin: 0 auto;
  }
}
