<div class="about-specialists">
  <div class="container">
    <div class="about-specialists__block">
      <div class="about-specialists__content">
        <h2 class="about-specialists__title title_h2">Header H2 </h2>

        <div class="about-specialists__swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="about-specialists__img"></div>
            </div>
            <div class="swiper-slide">
              <div class="about-specialists__img"></div>
            </div>
            <div class="swiper-slide">
              <div class="about-specialists__img"></div>
            </div>

          </div>

          <div class="swiper-pagination-specialists"></div>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>



        <div class="about-specialists__desc">

          <p class="about-specialists__text text_s">Over the last five years, practitioners at Williams Intellectual Property
            have written more than 500 utility patent applications for clients across the world. </p>
          <p class="about-specialists__text text_s">
            Combining a strong, personal customer service ethic, technical writing skills, and a hard science
            background, Ben Williams and his team will work for you to bring your idea to fruition through the complex
            labyrinth and changing landscape of the United States Patent and Trademark Office.</p>
          <p class="about-specialists__text text_s">
            A good patent is key to protecting your idea through each phase of development to market. And the patenting
            process is often daunting and confusing. Don’t make the common mistakes – Ben’s team can help you every step
            of the way, from disclosure to issue. Call our office today for a free consultation. We’re always happy to
            hear from you.</p>
        </div>



























      </div>

    </div>
  </div>
</div>