<div class="blog-news">
  <div class="container">
    <div class="blog-news__block">
      <h2 class="blog-news__title title_h2">The Latest News From Our Blog</h2>
      <div class="blog-news__container-posts">
        @@include('./../components/card-news.html',{ 
          "class":"blog-news",
        "img":"post_1.png",
        "name-post":"How To Increase Your ROI By Generating Star Patents In Your Portfolio?",
        "text":"The beauty of a crown is enhanced by its jewels. The gold, no matter how pure, just gives structure to the crown."
        })
        @@include('./../components/card-news.html',{
          "class":"blog-news",
        "img":"post_2.png",
        "name-post":"5 Types Of Patent Examiners You Should Know",
        "text":"The beauty of a crown is enhanced by its jewels. The gold, no matter how pure, just gives structure to     the crown."
        })

        @@include('./../components/card-news.html',{
          "class":"blog-news",
        "img":"post_3.png",
        "name-post":"How To Decrease Grant Time Using Simple Analytics",
        "text":"The beauty of a crown is enhanced by its jewels. The gold, no matter how pure, just gives structure to        the crown."
        })
        @@include('./../components/card-news.html',{
          "class":"blog-news",
        "img":"post_4.png",
        "name-post":"How To Perform A Comprehensive Trademark Search?",
        "text":"The beauty of a crown is enhanced by its jewels. The gold, no matter how pure, just gives structure to        the crown."
        })
      </div>




      <!-- Swiper -->
      <div class="blog-news__slider-mobile">
        <div class="swiper-container-post">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              @@include('./../components/card-news.html',{
            "class":"blog-news",
            "img":"post_1.png",
            "name-post":"How To Increase Your ROI By Generating Star Patents In Your Portfolio?",
            "text":"The beauty of a crown is enhanced by its jewels. The gold, no matter how pure, just gives structure to the crown."
            })
            </div>
            <div class="swiper-slide">
              @@include('./../components/card-news.html',{
              "class":"blog-news",
            "img":"post_2.png",
            "name-post":"5 Types Of Patent Examiners You Should Know",
            "text":"Innovation often starts with a “light bulb moment”. One works on his idea and then from idea, he moves to invention, and in the end to a patent application."
            })
            </div>
            <div class="swiper-slide">
              @@include('./../components/card-news.html',{
              "class":"blog-news",
            "img":"post_3.png",
            "name-post":"How To Decrease Grant Time Using Simple Analytics",
            "text":"Getting an application granted on the first go is like a dream come true."
            })
            </div>
            <div class="swiper-slide">
              @@include('./../components/card-news.html',{
              "class":"blog-news",
            "img":"post_4.png",
            "name-post":"How To Perform A Comprehensive Trademark Search?",
            "text":"Joe came up with a great name for his soon-to-be-released product. He is proud of the selection and cannot wait to share it with the world."
            })
            </div>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination-post"></div>
      </div>
    </div>
  </div>
</div>