<header class="header">
  <div class="container">
    <div class="header__wrap-block">
      <div class="header__block">
        <a href="index.html" class="header__box-logo">
          <div class="header__logo"></div>
        </a>

        @@include('./../components/navigation.html',{
        "class":"header"
        })

        <div class="header__contacts">
          <a class="header__phone" href="tel:1-888-357-1068">1-888-357-1068</a>
          <div class="header__wrap-btn"> <a class="header__button header__button-desktop button button-arrow"
              href="#">Submit Your Idea Now</a>
          </div>
        </div>
        <div class="header__hamburger">
          <div class="header__hamburger-line"></div>
          <div class="header__hamburger-line"></div>
          <div class="header__hamburger-line"></div>
        </div>
      </div>
      <div class="header__wrap-btn">
        <a class="header__button header__button-mobile button button-arrow" href="#">Submit Your Idea Now</a>
      </div>
    </div>
</header>