<div class="menu-mobile ">
  <div class="container">
    <div class="menu-mobile__block">
      <div class="menu-mobile__box-top">
        <a href="index.html" class="menu-mobile__box-logo">
          <div class="menu-mobile__logo"></div>
        </a>
        <a class="menu-mobile__phone phone" href="tel:1-888-357-1068">1-888-357-1068</a>
      </div>
      @@include('./../components/navigation.html',{
      "class":"menu-mobile"
      })
      <div class="menu-mobile__box-contacts">
        <a class="menu-mobile__button button-arrow button" href="">CONTACT US</a>
        <a class="menu-mobile__button button-arrow button" href="">View Our Services</a>
        <a class="menu-mobile__button button-arrow button" href="">Download Patent Overview</a>
      </div>
    </div>
  </div>
</div>