<nav class="@@class__nav">
  <a class="@@class__link link link_nav" href="who-we-are.html">Who We Are</a>
  <a class="@@class__link link link_nav" href="what-we-do.html">What We Do</a>
  <a class="@@class__link link link_nav" href="patenting-process.html">Patenting Process</a>
  <a class="@@class__link link link_nav" href="#">FAQ</a>
  <a class="@@class__link link link_nav" href="fee-structure.html">Fee Structure</a>
  <a class="@@class__link link link_nav" href="#">Contact</a>
  <a class="@@class__link link link_nav" href="blog.html">Blog</a>
</nav>