<section class="slides-what-our">
  <h2 class="slides-what-our__title title_h2">What Our Clients Say</h2>

  <div class="slides-what-our__wrap-slides">
    <div class="slides-what-our__container-slides">

      <div class="slides-what-our__box">
        <h6 class="slides-what-our__name">Robert, Richmond Hill NY</h6>
        <p class="slides-what-our__text text_s">Thank you very much Ben for your hard work on getting our patent filed so quickly!”</p>
      </div>

    </div>
  </div>

  <div class="slides-what-our__boled"></div>
</section>