<div class="top-site-content">
  <div class="top-site__block">
    <div class="top-site__content">
      <span href="#" class="top-site__link"><a href="index.html" class="top-site__link top-site__link_gold">Home /</a>
        @@name</span>
      <h1 class="top-site__title title_h1">@@title</h1>
      <p class="top-site__text text_s">@@text</p>
      <div class="top-site__wrap-btn"> <a href="#" class="top-site__button button button-arrow_black">CONTACT
          US</a></div>
    </div>
  </div>
</div>