<section class="what-we-do">
  <div class="container">
    <div class="what-we-do__block">
      <h2 class="what-we-do__title title_h2 what-we-do__title_js">@@title</h2> 
      <div class="what-we-do__box-card">

        @@include('./../components/card-patents.html',{
          "class":"what-we-do",
          "name-patent":"Utility Patents",
          "text":"Utility patents offer the broadest protection for any new or useful process, machine, manufacture, or composition of matter.",
          "button":"Lear more",
          "href":"#",
          "logo":"house"
        })

        @@include('./../components/card-patents.html',{
          "class":"what-we-do",
          "name-patent":"Design Patents",
          "text":"Design patents protect the way something looks, not the structural components informing the device.",
          "button":"Lear more",
          "href":"#",
          "logo":"ruler"
        })

        @@include('./../components/card-patents.html',{
          "class":"what-we-do",
          "name-patent":"Provisional Patents",
          "text":"A provisional patent is a temporary filing, filed under 35 USC 111(b), used to secure the benefit of a filing date.",
          "button":"Lear more",
          "href":"#",
          "logo":"notebook"
        })
        @@include('./../components/card-patents.html',{
          "class":"what-we-do",
          "name-patent":"Plant Patents",
          "text":"Plant patents are granted to an inventor who has invented or discovered, and asexually reproduced a distinct and new variety of plant.",
          "button":"Lear more",
          "href":"#",
          "logo":"plant"
        })

        @@include('./../components/card-patents.html',{
          "class":"what-we-do",
          "name-patent":"Trademarks",
          "text":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor",
          "button":"Lear more",
          "href":"#",
          "logo":"medal"
        })

        @@include('./../components/card-patents.html',{
          "class":"what-we-do",
          "name-patent":"International IP",
          "text":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor",
          "button":"Lear more",
          "href":"#",
          "logo":"planet"
        })
        
      </div>
    </div>
  </div>
</section>