<section class="won-patents">
  <div class="container">
    <div class="won-patents__block">
      <div class="won-patents__content">
        <h2 class="won-patents__title title_h2">Recently Won Patents</h2>
        <p class="won-patents__text text_s">Partial List of Utility Patents Recently Won by Ben Williams! See a list of
          recently won utility patents!</p>
        <a href="" class="won-patents__button button button-arrow ">See a List Patents</a>
      </div>
    </div>
  </div>
</section>